
.wct-side-filter-form > .wct-side-filter-content{ padding-top: 15px; padding-bottom:15px; flex: 1; overflow: auto; overflow-x: hidden; }
.wct-side-filter-form > .wct-side-filter-buttons{ padding-top: 15px; padding-bottom:15px; background: rgba(0,0,0,0.05); }