/* THEME COLOR VARIABLES */

$nav-color: #11105e;
$primary-color: #253aa5;
$secundary-color: #a541c6;
$primary-text-color: #b5b5b5;
$secundary-text-color: #595959;
$primary-header-text-color: rgb(37, 58, 165);
$btn-primary-color : rgb(37, 58, 165);
$btn-primary-shadow-color : rgba(37, 58, 165, 0.5);
$max-width-wide-screen: 1450px;
//$max-width-screen: 1110px;

