<div class="h-100" [class.isPrinting]="printService.isPrinting">
<div
  id="windowSizeControl"
  (window:resize)="detectBrowserSize($event.target.innerWidth)"
></div>
<div
  class="wct-container h-100"
  [class.wct-prevent-fixed-side-menu]="isSideMenuFixed()"
  [class.show-side-menu]="showSideMenu()"
  [class.set-blur]="isModalShow()"
  [hidden]="!kc.loggedIn"
>
  <app-wct-side-navbar
    *ngIf="config.isI18n() && kc.loggedIn"
  ></app-wct-side-navbar>
  <sliding-nav-bar [hasNav]="hasSlideNavBar()"></sliding-nav-bar>

  <app-wct-navbar *ngIf="config.isI18n() && kc.loggedIn"></app-wct-navbar>
  <router-outlet></router-outlet>

</div>

<app-wct-notification></app-wct-notification>
<m2m-notification></m2m-notification>
<app-wct-modal></app-wct-modal>
<router-outlet name="print"></router-outlet>
</div>