#wct-content-createStudent {
    position: relative;
    @include max-width-screen;
    margin: 0 auto;
    #wct-page-header-createStudent {
        app-wct-header {
            display: flex;
            flex-flow: row-reverse;
        }
    }
    .each-parameter {
        &.component-type-operations {
            padding: 0px 20px;
        }
        .wct-field-format-component {
            .label-grouper {
                p {
                    font-size: 14px;
                    color: #b5b5b5;
                    font-weight: 400;
                    line-height: 26px;
                    padding-left: 15px;
                }
            }
        }
        &#wct-each-parameter-StudentGender {
            .wct-field-format-component {
                padding-left: 12px !important;
            }
        }
        &.component-type-header {
            padding: 0 25px;
            p {
                color: $primary-header-text-color;
                font-size: 18px;
                font-weight: 400 !important;
                text-transform: capitalize;
            }
        }
        .form-group {
            padding: 0;
        }
        &#wct-each-parameter-createStudentDetails {
            margin-top: 10px;
            .card {
                border: none;
                border-radius: 0;
                box-shadow: none;
                margin-bottom: 0;
                .card-header {
                    border: none;
                    padding: 0;
                    h5 {
                        .btn {
                            &.btn-link {
                                box-shadow: none !important;
                                background-color: white !important;
                                color: $primary-header-text-color;
                                font-size: 18px;
                                font-weight: 400 !important; //text-transform: lowercase;
                            }
                        }
                    }
                }
                .card-body {
                    .each-parameter {
                        .form-group {
                            label {
                                padding-left: 0.75rem;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        &#wct-each-parameter-studentmdainCardCreate {
            padding: 20px;
            #wct-content-studentmdainCardCreate {
                margin: 0;
                .card-wrapper {
                    padding: 15px;
                }
            }
        }
    }
}