
.wct-external-wrapper.wct-component-type-designer-flow-component{ height: 100%; }
.wct-external-wrapper.wct-component-type-designer-flow-component .designer-wrapper{ position: relative; transform: translate(0, 0); height: 100%; }
